<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" 
      integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous")
    link(rel="stylesheet", href="/style.css")  
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
  body
    h1= title
    block contents
