extends common

block contents
  .results
    pre= message
  p
    a.pure-button.button-blue(href='/test?mode=short&disk='+disk) Launch short test
    a.pure-button.button-blue(href='/test?mode=long&disk='+disk) Launch long test
    a.pure-button.button-blue(href="/fetch?drive="+disk) Back to device info (#{disk})
    a.pure-button.button-blue(href="/") Back to drive selection 

