* {
  box-sizing: border-box;
}

body {
  padding: 10px;
}

h1 {
  color: blue;
}

.button-blue {
  background: rgb(66, 184, 221);
  border-radius: 6px;
  margin: 8px;
}

/*
a {
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px;
  margin: 8px;
  color: black;
  background-color: aliceblue;
  text-align: center;
  width: 300px;
  display: block;
  text-decoration: none;
}
*/
.results {
  margin-top      : 10px;
  background-color: aquamarine;
  border          : 1px solid blue;
}

legend {
  color      : blue;
  font-size  : large;
  font-weight: 900;
}

.subnote {
  font-size: smaller;
  color    : grey;
}

.icon {
  margin-left : 10px;
  margin-right: 10px;
}

.wide {
  width: 100%;
}